.embla {
  max-width: 90rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}

.embla.reduce-slide-width {
  --slide-size: 70%; /* Reduced width for small screens */
  --slide-size-sm: 65%; /* Reduced width for medium screens */
  --slide-size-lg: calc(100% / 4); /* Reduced width for large screens */
}

.embla.increase-embla-width {
  --slide-size: 77%; /* Reduced width for small screens */
  --slide-size-sm: 44%; /* Reduced width for medium screens */
  --slide-size-lg: calc(100% / 4); /* Reduced width for large screens */
}

@media (min-width: 1200px) {
  .embla.reduce-slide-width {
    --slide-size: 100%; /* Reduced width for small screens */
    --slide-size-sm: 44%; /* Reduced width for medium screens */
    --slide-size-lg: calc(100% / 4); /* Reduced width for large screens */
  }
}

.embla__viewport {
  overflow: hidden;
  margin-right: 0rem;
  margin-left: 3rem;
  padding-left: 1rem;
}

@media (min-width: 750px) {
  .embla__viewport.increase-embla-width {
    overflow: hidden;
    /* margin-right: 7rem; */
  }
}
@media (min-width: 750px) {
  .embla .embla__container {
    margin-right: 1.5rem !important;
    padding-right: 2rem;
    /* margin-left: 0.1rem; */
    gap: 4rem !important;
  }
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  padding-left: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -2);
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1.5);
  }
}
@media (min-width: 750px) {
  .embla__viewport {
    overflow: hidden;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) + 8rem);
  }
}
@media (min-width: 1200px) {
  .embla.remove-left-margin .embla__container {
    margin-left: 8rem !important;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 7.5rem !important;
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: 2rem;
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

@media (max-width: 750px) {
  .embla__controls {
    display: none;
    visibility: hidden;
    display: flex;
    position: absolute;
    width: 100%;
    /* bottom: 5rem; */
    padding-inline: 3rem;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 85%;
  }
}

.embla__controls {
  /* display: none; */
  /* visibility: hidden; */
  display: flex;
  position: absolute;
  width: 100%;
  /* bottom: 5rem; */
  padding-inline: 3rem;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  /* gap: 85%; */
}

@media (min-width: 1200px) {
  .embla__controls {
    display: flex;
    position: absolute;
    width: 100%;
    /* bottom: 5rem; */
    padding-inline: 3rem;
    grid-template-columns: auto 1fr;
    justify-content: left;
    gap: 85%;
    /* margin-top: 2rem; */
  }
}
